html,
body {
	margin: 10;
	background-color: #FFFFFF;
}

.board {
	position: relative;
	margin: 60px;
	width: 600px;
	height: 600px;
	background-color: #DDDDDD;
}

.square {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #01c5fc;
	/*cursor: pointer;*/
}

#square-template {
	display: none;
}

.piece {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #000000;
	cursor: pointer;
}

div .piece[data-name="king"] {
	border: 5px solid #000000;
}

div .piece[data-name="stone"] {
	border: 5px solid #FFFFFF;
}

div .piece[data-player="1"] {
	background-color: #FF4040;
}

div .piece[data-player="2"] {
	background-color: #40FF40;
}

.piece.active {
	width: 40px;
	height: 40px;
}

#piece-template {
	display: none;
}

.target {
	background-color: #dafc01;
	cursor: pointer;
}

.checkmate {
	background-color: #8f01fc;
	cursor: pointer;
	z-index: 1;
}
